body {
    font-family: 'Roboto';
    background-color: #1F2937;
    margin-left: 15dvh;
    margin-right: 15dvh;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FaF8;
}

.header-links {
    display: flex;
    gap: 14px;
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.section-one{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-text {
    font-size: 18px;
    color: #E5E7EB
}

#button-signup1 {
    background-color: #3882F6;
    color:#F9FaF8;
    border-radius: 8px;
    border-style: none;
    min-width: 100px;
    padding: 8px;
    font-weight: 700;
    margin-top: 10px; 
}

.placeholder-image {
    background-color: #67696c;
    min-width: 500px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB
}

.section-two{
    display: flex;
    background-color: white;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}

.section-two-content-images{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
.imagePH {
    border: 10px, solid, black;
    width: 50px;
    height: 50px;
}

